.browse-toolbar {
    
    .x-checkboxfield .x-box-label-el {
        color: #0d1114;
        padding: 0 0 0 5px !important;
        font: bold 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
    }

}